doctype html

html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')

	body
		h1 DGDB
		p.stylized(style='padding-left: 35px;') <font color='#00e6e6'>//</font> doujin game database

		div(style='position: absolute; left: 300px; top: 99px;')
			p.stylized <a href='/'>home</a>

		div.main
			block content
