doctype html

html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')

	body
		h1 DGDB
		p.stylized(style='padding-left: 35px;') <font color='#00e6e6'>//</font> doujin game database

		div.menu-bar
			p.stylized
				| <a class='menu-item' href='/'>home</a>
				| <a class='menu-item' href='/game/new'>new entry</a>

		div.main
			block content
