doctype html

html
	head
		title= title

		link(rel='stylesheet' href='/stylesheets/style.css')

		script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
		script(type='text/javascript' src='/javascripts/moment.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js' integrity='sha256-vyehT44mCOPZg7SbqfOZ0HNYXjPKgBCaqxBkW3lh6bg=' crossorigin='anonymous')

		script.
			;/* Google Chrome has a bug where CSS transitions trigger on page load if the page contains a form.
				Having an empty script prevents this bug from occuring. ¯\_(ツ)_/¯ */

	body
		div.background

		h1.logo <a href='/'>DGDB</a>
		p.stylized(style='padding-left: 35px;') <font color='#00e6e6'>//</font> doujin game database

		div.menu-bar
			p.stylized
				| <a class='menu-item' href='/'>home</a>
				| <a class='menu-item' href='/game/list'>games</a>

				if user
					span <a class='menu-item purple' href='/game/new'>new entry</a>

		div.menu-bar-right
			if user
				p
					| <span class='subdued'>!{user.username}</span> &nbsp;
					| <span class='stylized'><a class='menu-item gold' href='/account/logout'>logout</a></span>

			else
				p.stylized
					| <a class='menu-item gold' href='/account/login'>login</a>
					| <a class='menu-item gold' href='/account/register'>register</a>

		//- Some pages have more complex layouts that aren't entirely enclosed in a single div.main
		if game
			//- Must be a game view page
			block content
		
		else
			div.main
				block content
