@import url('https://fonts.googleapis.com/css?family=Graduate')
@import url('https://fonts.googleapis.com/css?family=Indie+Flower')
@import url('https://fonts.googleapis.com/css?family=Nova+Flat')

@font-face // For Japanese text
	font-family AiharaHudemojiKaisho
	src url("/fonts/AiharaHudemojiKaisho2.01.ttf")

body
	overflow-x hidden
	background black

div.background
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index -1

	background url('/images/background.png') repeat // Wallpaper is from http://www.dinpattern.com/
	filter blur(3px)

	animation 180s bg-scroll-anim infinite linear

@keyframes bg-scroll-anim
	100%
		background-position -3000px 0

h1.logo
	margin 0
	padding-left 15px
	width 200px

	font 80px Graduate
	color white

	transition text-shadow 3s
	text-shadow -2px 2px 0px rgba(0,230,230,.5), // Credit: https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/
	            -4px 4px 0px rgba(1,204,204,.5),
	            -6px 6px 0px rgba(0,189,189,.5)

	cursor pointer

h1.logo:hover
	transition text-shadow .5s
	text-shadow -4px  2px 0px  rgba(0,230,230,.5),
	            -8px  4px 0px  rgba(1,204,204,.5),
	            -12px 6px 0px  rgba(0,189,189,.5),
	            -2px  2px 20px rgb(0,230,230),
	            -4px  4px 40px rgb(1,204,204),
	            -6px  6px 60px rgb(0,189,189)

h1.logo a
	text-decoration none
	color white

	-webkit-text-fill-color rgba(255,255,255,.5)
	-webkit-text-stroke-width 2px
	-webkit-text-stroke-color white

h2, h3
	margin 0

	font 35px 'Nova Flat'
	color white

h3
	font-size 25px

h3.heading
	position relative
	top 14px
	left 20px

.fancy
	font-family 'Indie Flower', AiharaHudemojiKaisho

p
	margin 0

	font 11px Verdana
	color white

p.heading
	font-style italic
	color rgb(192,192,192)

p.message
	padding 5px
	background rgba(64,128,64,.5)

	font-weight bold
	color rgb(128,255,128)

p.error
	padding 5px
	background rgba(128,64,64,.5)

	font-weight bold
	color rgb(255,128,128)

.stylized
	font 12px Graduate

.subdued
	color rgb(128,128,128)

label
	font 10px Verdana
	color white

a
	text-decoration none
	color rgb(128,192,255)

a:hover
	text-decoration underline

a.menu-item
	margin-right 15px

.purple
	color rgb(192,128,255)

.gold
	color rgb(255,192,128)

div.main
	margin-top 10px
	margin-bottom 8px
	padding 5px

	background rgba(128,128,128,.2)
	border 1px rgba(128,128,128,.8) outset

	box-shadow 0 20px 25px 5px rgba(0,0,0,.2)
	box-shadow 0 10px 25px 5px rgba(0,0,0,.4)

div.menu-bar
	position absolute
	top 100px
	left 300px

div.menu-bar-right
	position absolute
	top 100px
	right 10px

table
	width 100%

table.centered
	margin 0 auto
	max-width 1500px

table.small
	max-width 500px

tr.list td
	padding 0
	padding-left 7px
	
	height 21px // A height of 21px centers 11px Verdana text better
	vertical-align middle

	background rgba(64,64,64,.3)

tr.list:nth-child(even) td
	background rgba(92,92,92,.3)

tr.list td.label
	padding-right 5px
	background none
	text-align right

tr.list td a
	color white

tr.list td a:hover
	border-bottom 1px rgb(128,128,128) dotted
	text-decoration none

td
	padding 5px
	vertical-align top

td.label p
	color rgb(192,192,192)

input[type='text'], input[type='password'], input[type='number'], textarea
	padding 3px
	width 100%

	background none
	border none
	border-bottom 1px rgba(64,64,64,.8) solid

	font 11px Verdana
	color white

input[type='number']
	width 40px
	color rgb(255,192,128)

textarea
	max-width 500px
	min-height 80px

	background rgba(0,0,0,.3)
	border-bottom 1px rgba(0,0,0,0) solid

input[type='text']:hover, input[type='password']:hover, input[type='number']:hover, textarea:hover
	border-bottom 1px rgba(192,128,255,.8) solid

input[type='checkbox']
	position relative
	top 2px

	margin 0
	margin-right 2px
	padding 0

input[type='submit']
	width 100px
	height 30px

	background rgba(0,0,0,.3)
	border 1px rgb(64,64,64) solid

	font 11px Verdana
	color white

	cursor pointer

input[type='submit']:hover
	background rgba(192,128,255,.1)
	border 1px rgba(192,128,255,.8) solid

	box-shadow 0 0 50px 5px rgba(192,128,255,.1)

input[type='submit']:disabled
	color rgb(128,128,128)

input[type='submit']:disabled:hover
	background rgba(0,0,0,.3)
	border 1px rgb(64,64,64) solid

	box-shadow none
	cursor default

input[type='submit'].small
	width 50px
	height 25px
