@import url('https://fonts.googleapis.com/css?family=Graduate')

body
	background url('/images/background.png') repeat

h1
	margin 0
	padding-left 15px

	font 80px Graduate
	color white
	text-shadow -2px 2px 0px #00e6e6, // Credit: https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/
	            -4px 4px 0px #01cccc,
	            -6px 6px 0px #00bdbd

p.stylized
	margin 0

	font 12px Graduate
	color white
