@import url("https://fonts.googleapis.com/css?family=Graduate");
body {
  background: url("/images/background.png") repeat;
}
h1.logo {
  margin: 0;
  padding-left: 15px;
  width: 200px;
  font: 80px Graduate;
  color: #fff;
  transition: text-shadow 3s;
  text-shadow: -2px 2px 0px #00e6e6, -4px 4px 0px #01cccc, -6px 6px 0px #00bdbd;
  cursor: pointer;
}
h1.logo:hover {
  transition: text-shadow 0.5s;
  text-shadow: -4px 2px 0px #00e6e6, -8px 4px 0px #01cccc, -12px 6px 0px #00bdbd, -2px 2px 20px #00e6e6, -4px 4px 40px #01cccc, -6px 6px 60px #00bdbd;
}
h1.logo a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0;
  font: 11px Verdana;
  color: #fff;
}
p.stylized {
  font: 12px Graduate;
}
p.heading {
  font-style: italic;
  color: #c0c0c0;
}
p.error {
  padding: 5px;
  background: rgba(128,64,64,0.5);
  font-weight: bold;
  color: #ff8080;
}
span.subdued {
  color: #808080;
}
label {
  font: 10px Verdana;
  color: #fff;
}
a {
  text-decoration: none;
  color: #c080ff;
}
a:hover {
  text-decoration: underline;
}
a.menu-item {
  margin-right: 15px;
}
a.menu-item.blue {
  color: #80c0ff;
}
div.main {
  margin-top: 10px;
  background: rgba(64,64,64,0.8);
  border: 1px #808080 solid;
}
div.menu-bar {
  position: absolute;
  top: 100px;
  left: 300px;
}
table {
  width: 100%;
  padding: 5px;
}
table.centered {
  margin: 0 auto;
  max-width: 1500px;
}
td {
  padding: 5px;
  vertical-align: top;
}
td.list {
  padding: 0;
  padding-left: 10px;
  height: 21px;
  vertical-align: middle;
  background: rgba(32,32,32,0.5);
}
input[type='text'] {
  padding: 3px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  border: none;
  font: 12px Verdana;
  color: #fff;
}
input[type='text']:hover {
  background: #000;
}
input[type='checkbox'] {
  position: relative;
  top: 2px;
  margin: 0;
  margin-right: 2px;
  padding: 0;
}
input[type='submit'] {
  font: 12px Verdana;
}
