@import url('https://fonts.googleapis.com/css?family=Graduate')

body
	background url('/images/background.png') repeat

h1
	margin 0
	padding-left 15px

	font 80px Graduate
	color white
	text-shadow -2px 2px 0px #00e6e6, // Credit: https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/
	            -4px 4px 0px #01cccc,
	            -6px 6px 0px #00bdbd

p
	font 12px Verdana
	color white

p.stylized
	margin 0
	font-family Graduate

a
	text-decoration none
	color rgb(192,128,255)

a:hover
	text-decoration underline

div.main
	margin-top 10px
	height 300px

	background-color rgba(64,64,64,.8)
	border 1px rgb(128,128,128) solid
