extends ../layout

block content
	if error
		p.error(align='center')= error

	else
		h2.fancy
			| !{game.title_jp}
			| <span class='subdued'>(!{game.title_romaji})</span>

		h3.fancy(style='margin-left: 40px;')
			| <span class='subdued'>&gt;</span>&nbsp;
			| !{game.title_english}
